<!DOCTYPE html>
<html>

<head>
    <title>MY SITE</title>

    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'img/lesson/zad2_1.png' %}">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />
    <!-- <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/playerProfile.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lesson.css' %}" />
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
    <link rel="stylesheet" href="{% static 'css/settings.css' %}" />
</head>

<body>
    <div class="container">
        <div class="header row">
            <div class="avatar col-2">
                <a href="/main/playerProfile" alt="Wyloguj" title="Profil użytkownika">
                    <div class="avatarName">
                        {{player}}
                    </div>
                </a>
            </div>
            <div class="col-8">
                <div class="stats">
                    <div id="healthPoints" class="font-italic">
                        <div class="pb-2">
                            <span float="left">HP: {{ account.current_hp }}/{{account.hp_max}}</span>
                            <span class="potion" alt="Użyj eliksiru" title="Użyj eliksiru"><a data-toggle="modal" data-target="#usePotion"><img src="/static/img/hp_potion.png" />+20hp</a></span>

                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ account.current_hp }}"
                                aria-valuemin="0" aria-valuemax="{{ account.hp_max }}" style="width:{{ hp_bar }}%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div id="experience" class="experience">
                        <span class="font-georgia font-italic">EXP: {{ account.current_exp }}/{{ account.exp_max }}</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-exp" role="progressbar" aria-valuenow="{{ account.current_exp }}"
                                aria-valuemin="0" aria-valuemax="{{ account.exp_max }}" style="width:{{ exp_bar }}%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-6 font-italic">Poziom: {{ account.level }}</span>
                        <span class="col-6 font-italic">Punkty: {{account.points}}</span>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center">
                            <img class="rankImg" src="/static/img/rank.png">
                            <div class="centered number-font">{{global_rank}}</div>
                        </div>
                        <div class="col-6 text-center">
                            <img class="rankImg" src="/static/img/rank.png">
                            <div class="centered number-font">{{group_rank}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-georgia font-italic text-center rankDesc">
                            <span>Ranking Światowy</span>
                        </div>
                        <div class="col-6 font-georgia font-italic text-center rankDesc">
                            <span>Ranking Grupowy</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="menu" class="menu col-2">
                <ul>
                    <a data-toggle="modal" data-target="#logout">
                        <li><img src="/static/img/student_logout.png" alt="Wyloguj" title="Wyloguj"></li>
                    </a>
                    <a href="/main/settings">
                        <li><img src="/static/img/settings.png" alt="Ustawienia" title="Ustawienia"></li>
                    </a>
                    <a href="/main/messages">
                        {% if new_msg %}
                            <li><img src="/static/img/new_message.png" alt="Wiadomości" title="Wiadomości"></li>
                        {% else %}
                            <li><img src="/static/img/message.png" alt="Wiadomości" title="Wiadomości"></li>
                        {% endif %}
                    </a>
                    <a href="/main/">
                        <li><img src="/static/img/challenge.png" alt="Wyzwania" title="Wyzwania"></li>
                    </a>
                </ul>
            </div>
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <div class="modal fade" id="logout" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><b>Wyloguj</b></h4>
                    </div>
                    <div class="modal-body">
                        <p>Jesteś pewien że chcesz się wylogować?</p>
                    </div>
                    <div class="modal-footer logoutModal">
                        <a href="{% url 'login:logout' %}">
                            <button type="button" class="btn btn-success logoutButton">Tak</button></a>
                        <button type="button" class="btn btn-danger logoutButton" data-dismiss="modal">Nie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="modal fade" id="usePotion" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><b>Kup mikstrurę, aby się uleczyć:</b></h4>
                    </div>
                    <div class="modal-body">
                        <p><b>+20</b> hp,</p>
                        <p><b>-20</b> pkt rankingowych,</p>
                        <p>aby użyć musisz mieć mniej niż <b>90 hp</b>.</p>
                    </div>
                    <div class="modal-footer logoutModal">
                        <button type="button" class="btn btn-success logoutButton"><a>Tak</a></button>
                        <button type="button" class="btn btn-danger logoutButton" data-dismiss="modal">Nie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>