{% extends "main/base.html" %}

{% block content %}
<div class="board changePassword" text-align: "center">
    <a href="/main/settings/"><i class="fa fa-arrow-left leftArrow"></i></a>
    <h1>Zmień hasło</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="sumbitButton" type="submit">Zapisz</button>
    </form>
    {% if message %}
    <div class="alert alert-warning alert-dismissible show" role="alert"> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
{% endblock %}