{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/lessonExcercise.css' %}" />
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
  <div class="container board">
    <div class="container">
      <div align="center">
          <a href="/main/lesson/{{task.stage.id}}/"><span class="close">&times;</span></a>
        <h2>{{task.title}}</h2>
        <h1></h1>
      </div>
      <p class="excerciseContent">{{task.description}}.</p>
      <p class="excerciseContent">{{task.content}}</p>

      <div align="right">
        {% if  answer.usedPrompt %}
          <p class="font-weight-light font-italic"><u>Podpowiedź : {{task.prompt}}</u></p>
        {% elif answer.completed == False and answer.usedPrompt == False %}
          <button type="button" class="btn btn-warning promptButton" data-toggle="modal" data-target="#myModal">Podpowiedź</button>
        {% else %}
        {% endif %}
      </div>
      {% if answer.completed %}
        <div class="form-group response">
        <p>{{answer.answerSql}}</p>
        <a href="/main/lesson/{{task.stage.id}}/" class="btn btn-success">Wróć</a>
      </div>
      {% else %}
        <form>
          {% csrf_token %}
          <label class="font-italic responseLabel" for="comment">Odpowiedź:</label>
          <div class="form-group response">
            <textarea class="form-control" rows="5" id="comment" placeholder="Miejsce na odpowiedź..."></textarea>
            <p>Nagroda:</p>
            <div class="float-right mb-5">
              <button class="btn btn-success">Wyślij</button>
              <a href="/main/lesson/{{task.stage.id}}/" class="btn btn-danger">Anuluj</a>
            </div>
            <span>{{task.exp_points}} PKT EXP</span></br>
            <span>{{task.points}} PKT RANKINGOWYCH</span>
          </div>
        </form>
      {% endif %}
      
    </div>
  </div>

  <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Czy chcesz skorzystać z podowiedzi?</h4>
            </div>
            <div class="modal-body">
              <p>Odejmie to punkty czy coś tam...</p>
            </div>
            <div class="modal-footer modalButtons">
                <form method="POST" action="/main/lesson/{{task.stage.id}}/usePrompt" >
                  {% csrf_token %}
                    <input type="hidden" name="answerId" value="{{answer.id}}" />
                    <input type="hidden" name="taskId" value="{{task.id}}" />
                    <input class="btn btn-success" type="submit" value="Akceptuj" />
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  
</body>

</html>