{% extends "main/base.html" %}

{% block content %}
<div class="map">
    <div>
        {% for level in levels %}
            <img src="../../static/img/lesson{{level}}.png" class="lesson{{level}}">
            {% if level not in openLevels %}
                <a href="/main/lesson/{{level}}"><img src="../../static/img/okmark.png" class="mark{{level}} top"></a>
            {% else %}
                <a href="/main/lesson/{{level}}"><img src="../../static/img/xmark.png" class="mark{{level}} top"></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<script>
    console.log({openLevels});
</script>
{% endblock %}