{% extends "main/base.html" %}

{% block content %}
<section>
  <div class="container board">
        <div class="title" align="center">
          <span class="h3">Etap {{stage.id}} : {{stage.name}}</span>
        </div>
        {% for task in tasks %}
          <form method="POST" action="/main/lesson/{{stage.id}}/excercise">
            {% csrf_token %}
            <button id="myBtn" taskId="{{forloop.counter}}" class="row lesson" type="submit">
              <div class="col-3 align-self-center">
                <img class="image" src="/static/img/Lesson/zad{{stage.id}}_{{forloop.counter}}.png">
              </div>
              <div class="col-9 lessonInfo align-self-center pt-md-1" align="center">
                <span class="d-block lessonInfo-Number">Zadanie {{ forloop.counter }}</span>
                <span class="d-block lessonInfo-Name">{{task.title}}</span>
              </div>
            </button>
          </form>
        {% endfor %}
  </div>
</section>
{% endblock %}