{% extends "main/base.html" %}

{% block content %}
<form action="{% url 'main:newMessage' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="message_id" value="{{message.id}}" />
  <section>
    <div class="container board">
      <a href="/main/messages/"><i class="fa fa-arrow-left leftArrow"></i></a>
      <h2 class="pb-6 " align="center">Wiadomość</h2>
      <div class="messageDiv">
        <p class="messageTitle">Temat : {{message.title}}</p>
        
        {% if message.olders %}
        {% for older in message.olders %}
        <div class="contentPanelMsg">
        <div class="contentTop">{{older.first_name }} {{older.last_name}} Dnia {{older.date}}</div>
        <div class="contentMsg">{{older.content}}</div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="contentPanelMsg">
          <div class="contentTop">{{message.from_user_name }} Dnia {{message.date}}</div>
          <div class="contentMsg">{{message.content}}</div>
        </div>
        <!--<p class="messageTitle">Starsze wiadomości <br /></p> -->
        


        <div align="center">
          <a class="replyOnMessageButton" href="{% url 'main:newMessage' %}" title="Odpowiedz na tą wiadomość"><button
              type="submit" class="btn"><i class="fa fa-paper-plane"></i>Odpowiedz</button><a>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}