{% extends "main/base.html" %}

{% block content %}
<section>
  <div class="container board">
    <a href="/main/messages/"><i class="fa fa-arrow-left leftArrow"></i></a>
    <h2 class="pb-6 " align="center">Wiadomość</h2>
    <div class="messageDiv">
        <p class="messageTitle">Temat</p>
        <p>Lorem Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum d</p>
        
        <p class="messageTitle">Treść</p>
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dLorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum d</p>
    </div>
  </div>
</section>
{% endblock %}