{% extends "main/base.html" %}

{% block content %}
<section>
    <div class="container board">
        <div class="newMessageContainer">
            <div>
                <a class="backLink" href="{% url 'main:messages' %}" title="Wstecz"><i class="fa fa-arrow-left"></i></a>
                <h1 align="center">Nowa wiadomość</h1>
            </div>
            <form action="{% url 'main:messages' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="messageTopic">Temat wiadomości</label>
                    {% if message %}
                    <input type="hidden" name="messageId" value="{{message.id}}">
                    <input type="text" readonly value="{{message.title}}" class="form-control" id="messageTopic" name="messageTopic"
                        required minlength="5">
                    {% else %}
                    <input type="text" class="form-control" id="messageTopic" name="messageTopic" placeholder="Wpisz temat wiadomości.."
                        autofocus required minlength="5" maxlength="80">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="messageContent">Treść wiadomości</label>
                    <textarea class="form-control" name="messageContent" id="messageContent" rows="5" placeholder="Tu wpisz swoją wiadomość..."
                        required minlength="10" maxlength="500"></textarea>
                </div>
                <div align="center">
                    <button type="submit" class="btn sendMessageButton" title="Wyślij wiadomość">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}