{% extends "main/base.html" %}

{% block content %}
<div class="board profileBoard">
    <h1 class="text-center">Profil Gracza</h1>
    
    <div class="container tabs">
        <ul id="navProfile" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#excercises">Zadanie główne</a></li>
            <li><a data-toggle="tab" href="#challenges">Wyzwania</a></li>
            <li><a data-toggle="tab" href="#presences">Obecności</a></li>
            <li><a data-toggle="tab" href="#medals">Medale</a></li>
            <li><a data-toggle="tab" href="#rating">Ocena</a></li>
        </ul>

        <div class="tab-content tabBorder">
            <div id="excercises" class="tab-pane fade in active">
                <h3 class="text-center">Wyniki z zadań głównych</h3>
                {% if answers.count > 1 %}
                <table class="table messageTable detailsTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Lekcja</th>
                            <th>Numer Zadania</th>
                            <th>Wynik [%]</th>
                        </tr>
                    </thead>
                    {% for answer in answers %}
                        <tbody>
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{answer.stage.id}}</td>
                                <td>{{answer.task.id}}</td>
                                <td>{{answer.note}}</td>
                                <td class="detailsButton" data-toggle="collapse" data-target="#details">
                                    Szczegóły
                                </td>
                            </tr>
                            <tr>
                                <td id="detailsTd" colspan="5">
                                    <div id="details" class="collapse">
    
                                        <h5>Treść zadania:</h3>
                                        <p class="small text-justify">{{answer.task.content}}</p>
                                    
                                        <h5>Odpowiedź:</h3>
                                        <p class="small text-justify">{{answer.answerSql}}</p>
                                    
                                    </div>
                                </td>
                            </tr>
                        </tbody>    
                    {% endfor %}
                </table>
                <div>
                    <p class="h3 average" align="center">Średnia z zadań: {{results_points}}%</p>
                </div>
                {% else %}
                    <p>Brak ocenionych zadań</p>
                {% endif %}
            </div>
            
            <!-- WYZWANIA -->
            <div id="challenges" class="tab-pane fade">
                <h3 class="text-center">Wyzwania</h3>
                <table class="table presencesTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Treść wyzwania</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1. </td>
                                <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </td>
                                <td>40 pkt</td>
                            </tr>
                            <tr>
                                <td>2. </td>
                                <td>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </td>
                                <td>80 pkt</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <!-- OBECNOŚCI -->
            <div id="presences" class="tab-pane fade">
                <h3 class="text-center">Obecności</h3>
                {% if absences.count > 0 %}
                    <table class="table presencesTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    {% for absence in absences %}    
                            <tbody>
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{absence.date}}</td>
                                    {% if absence.absence %}
                                    <td style="color: green">Obecny </td>
                                    {% else %}
                                        <td style="color: red">Nieobecny </td>
                                    {% endif %}
                            </tbody>
                    {% endfor %}
                    </table>
                {% else %}
                    <p>Brak danych</p>
                {% endif %}
            </div>

            <!-- MEDALE -->
            <div id="medals" class="tab-pane fade">
                <h3 class="text-center">Medale</h3>
                {% if achievements == none %}
                    <p>Aktualnie nie posiadasz żadnych medali.</p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table medalsTable">
                                <thead align="center">
                                    <tr>
                                        <th>Medal
                                        <th>Nazwa
                                        <th>Opis
                                        <th>Bonus
                                    </tr>
                                </thead>
                                {% for achievement in achievements %}
                                    <tbody>
                                        <tr>
                                            <td  class="medalImageField"><img class="medalImage" src="../../static/img/Medals/{{achievement.picture}}"> </td>
                                            <td>„{{achievement.name}}” </td>
                                            <td>{{achievement.description}} </td>
                                            <td>+ {{achievement.points}} punktów rankingowych </td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </table>
                    </div>
                {% endif %}
            </div>

            <!-- OCENA -->
            <div id="rating" class="tab-pane fade rating">
                <h3 class="text-center">Aktualna ocena końcowa</h3>
                <p>Proponowana ocena końcowa: 
                    <span 
                    class="{% if rate < 3 %} rate-red 
                        {% elif rate < 4.5 %} rate-yellow
                        {% else %} rate-green
                        {% endif %}"
                    >
                        {{rate}}
                    </span>
                </p>
                <small class="text-muted font-italic">Ocena końcowa wyliczna jest na podstawie punktów doświadczenia.</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
