<html>

<head>
    <title>MY SITE</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap-reboot.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap-grid.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}" />

</head>

<body>
    <div  class="loginPanel">
        <form method="post" class="loginForm">
            <p for="username" class="formLabel">Login</p>
            <input type="text" id="username" name="username" class="textbox">
            <br>
            <p for="password" class="formLabel">Hasło:</p>
            <input type="password" id="password" name="password" class="textbox">
            <div id="lower">
                <input type="submit" value="Login" class="logButton">
            </div>
        </form>
    </div>
    <p>{{password}}</p>

</body>

</html>