body {
    background-color: #3b3b3b;
    background-image: url("../img/bg_wood.jpg");
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

.board{
    background-image: url("../img/bg_map.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3b3b3b;
}
.title{
    margin-top: 30px;
}
.title span{
    font-size: 3vw;
}
.lesson{
    margin: 1rem 3rem;
    background-color: rgb(250, 193, 143);
    border: 2px solid #3b3b3b;;
    border-radius: 20px;
    cursor: pointer;
}
.image{
    display: inline;
    width: 100px;
}
.lesson {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 200px;
}
.lessonInfo{
    display: inline;
}
.lessonInfo-Number{
    display: block;
    font-size: 1.8vw;
}
.lessonInfo-Name{
    display: block;
    font-size: 2.2vw;
    font-weight: bold;
}

.alt{
    border: 2px solid red;

}

@media screen and (max-width: 768px){
    .board{
        padding: 3rem 1rem;
    }
    .title span{
        font-size: 35px;
    }
    .lessonInfo-Number{
        font-size: 15px;
    }
    .lessonInfo-Name{
        font-size: 15px;
        font-weight: bold;
    }
}
