table {
    margin: 4rem 1rem 0 1rem;
    border: 0;
    border-collapse: separate;
    border-spacing: 0.5em;
    text-align: center;
    background-color: #eeeeeea1;
    border-radius: 10px;
    border: 1px solid rgb(90, 90, 90);
    padding: 5px 0 5px;
}
.messageTable thead th{
    background-color: orange;
    border: 0px !important;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(107, 107, 107);
    text-align: center;
}
.messageTable tbody th, td {
    background-color: rgb(255, 214, 81);
    border: 0px !important;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(107, 107, 107);
    text-align: center;
    padding: 2px !important;
}
.messageTable tbody td:nth-last-child(2), td:last-child {
    background-color: orange;
    font-weight: bold;
}
.messageTableButton{
    cursor: pointer;
}
.messageTableButton button{
    width: 100%;
}
.messageTableButton:hover{
    background-color: orangered !important;
}
.messageTableButton a{
    text-decoration: none;
    color: #3b3b3b;
    display:inline-block;
    width:100%;
    height:100%;  
}
.newMessageButton{
    text-decoration: none;
    float: left;
    background-color: orange;
    position: absolute;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #3b3b3b;
    border-radius: 10px;
}
.newMessageButton button i{
    margin-right: 5px;
}
.newMessageButton button{
    font-weight: bold;
    background-color: orange;
    box-shadow: 2px 2px rgb(107, 107, 107);
}
.newMessageButton button:hover{
    background-color: orangered;
    box-shadow: 2px 2px rgb(107, 107, 107);
}


/* NEW MESSAGE */
.newMessageContainer{
    margin: 0 auto;
    width: 70%;
    
}
.newMessageContainer .form-control{
    font-size: 1.5rem;
}
.newMessageContainer form{
    background-color:#eeeeeea1;
    border-radius: 10px;
    border: 1px solid rgb(90, 90, 90);
    padding: 10px;
}
.newMessageContainer h1{
    margin: 30px 0;
}
.sendMessageButton{
    font-size: 2rem;
    font-weight: bold;
    background-color: orange;
    box-shadow: 2px 2px rgb(107, 107, 107);
}
.sendMessageButton:hover{
    background-color: orangered;
}
.newMessageContainer .backLink{
    font-size: 4rem;
    color: #3b3b3b;
    float: left;
    position: absolute;
    margin-top: -10px;
}
.newMessageContainer .backLink:hover{
    color: rgb(119, 119, 119);
}
.messageTableButton a:hover{
    color: #3b3b3b;
}
/* MESSAGE */
.messageDiv{
    margin: 8% auto 0 auto;
    width: 60%;
    background-color: #eeeeeea1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(90, 90, 90);
    box-shadow: 5px 5px;
}
.messageDiv p {
    background-color: rgb(255, 214, 81);;
    text-indent: 4%;
    font-size: 1.5rem;
    border-radius: 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    text-justify: inter-word;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: 3px 3px;
    font-style: italic;
}
.messageDiv .messageTitle{
    text-indent: 0;
    margin-top: 10px;
    width: auto;
    background-color: orange;
    text-align: center;
    font-size: 1.8rem;
    font-style: inherit;
}
.board .leftArrow{
    font-size: 4rem;
    position: absolute;
    padding: 10px 0 0 50px;
    text-decoration: none;
    color:#3b3b3b;
}
.board .leftArrow:hover{
    color:#636363;
}
.replyOnMessageButton i{
    margin-right: 10px;
}
.replyOnMessageButton button{
    margin-top: 20px;
    background-color: orange;
    width: 50%;
    color: #3b3b3b;
    font-weight: bold;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px 5px;
    box-shadow: 2px 2px rgb(107, 107, 107);
}
.replyOnMessageButton button:hover{
    background-color: orangered;
}

.faqContainer p:first-of-type{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-indent: 2%;
    font-style: italic;
}
.faqContainer h4{
    text-align: center;
    margin-top: 10px;
    font-style: oblique;
    font-weight: bold;
}
.faqContainer p{
    text-indent: 3%;
    line-height: 1.2;
}
@media screen and (max-width: 992px){
    .board {
        padding: 2rem 7rem 2rem 7rem !important;
    }
}