{% extends "admin/base.html" %}

{% block content %}
    <div class="container excerciseDetailsContent">
        
           <a href="/adminSite/excercises"><i class="fa fa-arrow-circle-left fa-3x backArrow" title="Wstecz"></i></a>
            <h2 align="center">
                {% if task != None %}
                    {{task.stage_name}}
                {% else %}
                    {{stage_name}}
                {% endif %}
            </h2>
            <h3 align="center">
                    {% if task != None %}
                        {{task.difficulty_name}}
                    {% else %}
                        Nowe zadanie
                    {% endif %}
            </h3>
        
            <form class="excerciseForm">
                <label>Poziom trudności</label>
                <select class="form-control" required>
                    {% for x in range %}
                        {% if task != None and forloop.counter == task.difficulty_level %}
                            <option value="{{forloop.counter}}" selected>{{forloop.counter}}</option>
                        {% else %}
                        <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="form-group">
                    <label>Treść zadania</label>
                    <textarea class="form-control" rows="5" placeholder="Treść zadania..." required minlength="20">{{task.task_content}}</textarea>
                </div>
                <div class="form-group">
                    <label>Podpowiedź</label>
                    <textarea class="form-control" rows="2" placeholder="Treść podpowiedzi..." required minlength="10">{{task.prompt}}</textarea>
                    </div>
                <div class="form-group">
                    <label>Nagroda</label>
                    <input placeholder="100" class="form-control" title="Nagroda" required type="number" min="10" value="{{task.points}}">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center w-25">Zapisz</button>
                    <a href="{% url 'adminSite:excercisesWithTable' stage_id=task.stage_id %}"><button type="button" class="btn btn-danger text-center w-25">Wróć</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}