{% extends "admin/base.html" %}

{% block content %}
    <div class="container excerciseContent">
        <h1 align="center">Ćwiczenia</h1>
        <div class="tiles">
            <div class="row">
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=1 %}" class="col stage">Lekcja 1</a>
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=2 %}" class="col stage">Lekcja 2</a>
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=3 %}" class="col stage">Lekcja 3</a>
            </div>
            <div class="row">
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=4 %}" class="col stage">Lekcja 4</a>
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=5 %}" class="col stage">Lekcja 5</a>
                <a href="{% url 'adminSite:excercisesWithTable' stage_id=6 %}" class="col stage">Lekcja 6</a>
            </div>
        </div>
        {% if tasks != None %}
            
            <div class="row excercisesList">
                <div class="col-9">
                    <table class="table table-hover table-dark table-stripped table-sm">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Numer zadania
                                <th>Poziom trudności
                            </tr>
                        </thead>
                        <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <td>{{task.id}}</td>
                                        <td>{{task.title}}
                                        <td>{{task.level}}
                                        <td><a href="{% url 'adminSite:excerciseDetails' task.id %}" ><button class="btn btn-info">Edytuj</button></a>
                                        <td><a href="{% url 'adminSite:deleteExcercise' stage_id=stageId task_id=task.id %}"><button class="btn btn-danger">Usuń</button></a>
                                    </tr>
                                {% endfor %}                    
                        </tbody>
                    </table>
                </div>
                <div class="col-3">
                    <a class="addButton" href="{% url 'adminSite:newExcercise' stage_id=stageId %}"><button class="btn btn-primary"> Dodaj nowe zadanie </button></a>
                </div>
            </div>
            
        {% endif %}

    </div>
{% endblock %}