{% extends "admin/base.html" %}

{% block content %}
    <div class="container excerciseContent">
        <h1 align="center">Ćwiczenia</h1>
        <div class="tiles">
            <div class="row">
                <a class="col stage">Lekcja 1</a>
                <a class="col stage">Lekcja 2</a>
                <a class="col stage">Lekcja 3</a>
            </div>
            <div class="row">
                <a class="col stage">Lekcja 4</a>
                <a class="col stage">Lekcja 5</a>
                <a class="col stage">Lekcja 6</a>
            </div>
        </div>

        <div class="row excercisesList">
            <div class="col-6">
                <table class="table table-hover bg-light table-sm">
                    <thead>
                        <tr>
                            <th>Numer zadania
                            <th>Poziom trudności
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>1
                                <td>1
                                <td><button class="btn btn-info">Edytuj</button>
                                <td><a href=""><button class="btn btn-danger">Usuń</button></a>
                            </tr>
                            <tr>
                                <td>5
                                <td>4
                                <td><button class="btn btn-info">Edytuj</button>
                                <td><a href=""><button class="btn btn-danger">Usuń</button></a>
                            </tr>
                            <tr>
                                <td>1221
                                <td>5
                                <td><button class="btn btn-info">Edytuj</button>
                                <td><a href=""><button class="btn btn-danger">Usuń</button></a>
                            </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <a class="addButton" href="/adminSite/excerciseDetails"><button class="btn btn-primary"> Dodaj nowe zadanie </button></a>
            </div>
        </div>

    </div>
{% endblock %}