{% extends "admin/base.html" %}

{% block content %}
<div class="container groupDetails">
    <div>
        <h3>Ranking grupowy</h3>
        {% if students|length  > 0 %}
            <table class="table table-dark table-striped table-responsive-sm table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pkt rankingowe</th>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Nr albumu</th>
                        <th scope="col">E-mail</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Obecność</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <form action="{% url 'adminSite:groupDetails' group.id %}" method="POST">
                    {% csrf_token %}
                        <tr>
                            <input type="hidden" name="student_id" value="{{student.id}}">
                            <th scope="row">1</th>
                            <td>{{student.points}}</td>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.username}}</td>
                            <td>{{student.email}}</td>
                            <td><a href="{% url 'adminSite:editStudent' student.id %}"><button class="btn btn-primary">Pokaż</button></a></td>
                            <td><a href="{% url 'adminSite:editStudent' student.id %}"><button class="btn btn-info">Edytuj</button></a></td>
                            <td><a href="{% url 'adminSite:deleteFromGroup' student_id=student.id %}"><button class="btn btn-danger">Usuń</button></a></td>
                            <td><a href="{% url 'adminSite:newMessageStudent' student.id %}"><button class="btn">Napisz</button></a></td>
                            <td>
                                <div>
                                    {% for absence in student.absences %}
                                        <input type="checkbox" name="lesson_{{student.id}}__{{absence.id}}"
                                        {% if absence == True %}
                                            checked
                                        {% endif %}
                                        >
                                    {% endfor %}
                                    
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button name="save_absence" type="submit" class="btn btn-primary btn-sm" value="save">Zapisz obecności</button>
            </form>
        {% else %}
            <div class="alert alert-warning" role="alert"> Brak studentów w grupie </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <h3>Czasy etapów dla grupy : {{group.name}}</h3>
            <table class="table table-dark table-striped table-responsive-sm table-sm">
                <thead>
                        <tr>
                            <th scope="col">Lekcja</th>
                            <th scope="col">Start</th>
                            <th scope="col">Koniec</th>
                        </tr>
                    </thead>
                    <tbody>
                    <form action="{% url 'adminSite:groupDetails' group.id %}" method="POST">
                        {% csrf_token %}
                        {% for stage in stages %}
                            <tr>
                                <input type="hidden" name="group_id" value="{{group.id}}">
                                <th scope="row">{{stage.id}}</th>
                                <td>
                                    <div class="form-group">
                                        <input id="datePicker1 + {{stage.id}}" name="min_{{stage.id}}" type="datetime-local" name="bday" max="3000-12-31" 
                                            min="1000-01-01" class="form-control dateClass" value="{{stage.date_min|date:'Y-m-d'}}T{{stage.date_min|date:'h:m'}}">
                                    </div>
                                </td>
                                <td>
                                    <input id="datePicker2 + {{stage.id}}" name="max_{{stage.id}}" type="datetime-local" name="bday" max="3000-12-31" 
                                        min="1000-01-01" class="form-control dateClass" value="{{stage.date_max|date:'Y-m-d'}}T{{stage.date_max|date:'h:m'}}">
                                </td>
                            </tr>
                        {% endfor %}
                        
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-sm">Zachowaj zmiany</button>
        </form>
        </div>
        <div class="col">
            <h3>Dodaj nowego studenta</h3>
            <form method="POST" action="{% url 'adminSite:addStudentToGroup' group.id %}">
                    {% csrf_token %}
                <div class="form-group">
                    {% if students_without_group %}
                    <label for="student_id">Numer albumu</label>
                    <select id="student_id"name="student_id">
                        {% for student in students_without_group %}
                        <option value="{{student.student_id}}">{{student.username|add:"-"|add:student.first_name|add:" "|add:student.last_name}}</option>
                        {%endfor%}
                    </select>
                    <button type="submit" class="btn btn-primary">Dodaj studenta</button>
                </div>
                    {% else %}
                    <p>Brak studentów nieprzypisanych do grup</p>
                </div>
                    {%endif%}
                {% if students_without_group %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<script>
     
</script>
{% endblock %}