{% extends "admin/base.html" %}

{% block content %}
<div class="container groupsContainer">
    <div class="row">
        <div class="col-xl-4">
            <h3>Grupy</h3>
            {% if groups.count > 0 %}
            <table class="table table-hover table-dark table-stripped table-sm groupsTable">
                <thead>
                    <tr>
                        <th>Nazwa
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{group.name}}
                        <td><a href="{% url 'adminSite:groupDetails' group.id %}"><button class="btn btn-primary">Pokaż</button></a>
                        <td><button class="btn btn-info">Edytuj</button>
                        <td><a href="{% url 'adminSite:deleteGroup' group.id %}"><button class="btn btn-danger">Usuń</button></a>
                        <td><a href="{% url 'adminSite:newMessageGroup' group.id %}"><button class="btn btn-basic">Napisz</button></a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-warning" role="alert"> Brak prowadzonych grup </div>
            {% endif %}
            {% if message != None and message %}
            <div class="alert alert-success alert-dismissible fade show" role="alert"> Grupa pomyślnie utworzona
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message != None and message == False %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert"> Grupa nie została utworzona
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <h4 class="pt-4">Stwórz nową grupę</h4>
            <form method="POST" action="{% url 'adminSite:addGroup' %}" enctype="multipart/form-data" class="addGroup">
                {% csrf_token %}
                <div class="form-group ">
                    <label for="{{ form.groupName.id_for_label }}">Nazwa grupy</label>
                    {{ form.groupName }}
                    {{ form.groupFile }}
                    <button type="submit" class="btn btn-primary" value="Submit">Stwórz grupę</button>
                </div>
            </form>
            <a href="{% url 'adminSite:stageStatus' %}" class="btn btn-primary" >Uaktualnij statusy ćwiczeń</a>
        </div>
        <div class="col-xl-8">
            <h3>Ranking Światowy</h3>
            {% if global_rank %}
            <table class="table table-hover table-dark table-stripped table-sm">
                <thead>
                    <tr>
                        <th>Lp.
                        <th>Pkt rankingowe
                        <th>Imię
                        <th>Nazwisko
                        <th>Nr albumu
                        <th>Grupa
                    </tr>
                </thead>
                <tbody>
                    {% for rank in global_rank %}
                    <tr>
                        <td>{{ forloop.counter }}
                        <td>{{ rank.points }}
                        <td>{{ rank.first_name }}
                        <td>{{ rank.last_name }}
                        <td>{{ rank.id_number }}
                        <td>{{ rank.group }}
                        <td><a href="{% url 'adminSite:editStudent' rank.student_id %}"><button class="btn btn-primary btn-sm">Pokaż</button></a>
                        <td><a href="{% url 'adminSite:editStudent' rank.student_id %}"><button class="btn btn-info btn-sm">Edytuj</button></a>
                        <td><a href="{% url 'adminSite:deleteStudent' rank.student_id %}"><button class="btn btn-danger btn-sm">Usuń</button></a>
                        <td><a href="{% url 'adminSite:newMessageStudent' rank.student_id %}"><button class="btn btn-basic btn-sm">Napisz</button></a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>Nie masz jeszcze żadnych studentów...</div>
            {% endif %}

        </div>

    </div>
</div>
{% endblock %}