{% extends "admin/base.html" %}

{% block content %}
<div class="container groupDetails">
    <div>
        <h3>Ranking grupowy</h3>
        {% if students|length  > 0 %}
            <table class="table table-dark table-striped table-responsive-sm table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Pkt rankingowe</th>
                        <th scope="col">Imię</th>
                        <th scope="col">Nazwisko</th>
                        <th scope="col">Nr albumu</th>
                        <th scope="col">E-mail</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Obecność</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{student.points}}</td>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.username}}</td>
                            <td>{{student.email}}</td>
                            <td><a href="{% url 'adminSite:editStudent' student.id %}"><button class="btn btn-primary">Pokaż</button></a></td>
                            <td><a href="{% url 'adminSite:editStudent' student.id %}"><button class="btn btn-info">Edytuj</button></a></td>
                            <td><a href="{% url 'adminSite:deleteFromGroup' student_id=student.id %}"><button class="btn btn-danger">Usuń</button></a></td>
                            <td><a href="{% url 'adminSite:newMessageStudent' student.id %}"><button class="btn">Napisz</button></a></td>
                            <td>
                                <div>
                                    <input type="checkbox" />
                                    <input type="checkbox" />
                                    <input type="checkbox" />
                                    <input type="checkbox" />
                                    <input type="checkbox" />
                                    <input type="checkbox" />
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert"> Brak studentów w grupie </div>
        {% endif %}
        <button class="btn btn-primary btn-sm">Zapisz obecności</button>
    </div>
    <div class="row">
        <div class="col">
            <h3>Grupa_10-45</h3>
            <table class="table table-dark table-striped table-responsive-sm table-sm">
                <thead>
                        <tr>
                            <th scope="col">Lekcja</th>
                            <th scope="col">Start</th>
                            <th scope="col">Koniec</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stage in stages %}
                        <tr>
                            <th scope="row">{{stage.id}}</th>
                            <td>
                                <div class="form-group">
                                    <input id="datePicker1 + {{stage.id}}" type="datetime-local" name="bday" max="3000-12-31" 
                                        min="1000-01-01" class="form-control dateClass">
                                </div>
                            </td>
                            <td>
                                <input id="datePicker2 + {{stage.id}}" type="datetime-local" name="bday" max="3000-12-31" 
                                    min="1000-01-01" class="form-control dateClass">
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary btn-sm">Zachowaj zmiany</button>
        </div>
        <div class="col">
            <h3>Dodaj nowego studenta</h3>
            <form method="POST" action="{% url 'adminSite:addStudentToGroup' group_id %}">
                    {% csrf_token %}
                <div class="form-group">
                    {% if students_without_group %}
                    <label for="student_id">Numer albumu</label>
                    <select id="student_id"name="student_id">
                        {% for student in students_without_group %}
                        <option value="{{student.student_id}}">{{student.username|add:"-"|add:student.first_name|add:" "|add:student.last_name}}</option>
                        {%endfor%}
                    </select>
                    {% else %}
                    <p>Brak studentów nieprzypisanych do grup</p>
                    {%endif%}
                </div>
                <button type="submit" class="btn btn-primary">Dodaj studenta</button>
            </form>
        </div>
    </div>
</div>
<script>
     var elements = document.getElementsByClassName("dateClass");
     var index = [];
     for(var i=0; i<elements.length; i++) {
        index.push(elements[i].id); 
     }
     for(var i=0; i<index.length; i++) {
        document.getElementById(index[i]).value = new Date().toISOString().substring(0, 16);
     }
</script>
{% endblock %}