{% extends "admin/base.html" %}

{% block content %}
<div class="container messagesBody readMessageContainer">
    <div>
        <a href="{% url 'adminSite:messages' %}" class="sendMessageButton"><i
                    class="fa fa-arrow-left"></i></a>
        <h1>Wiadomość</h1>
        <div class="messageContent">
            <h4>Adresat: <b class="font-italic">{{message.from_user_name}}</b></h4>
            <span class="badge badge-pill badge-light mb-4 text-muted font-italic">{{message.date}}</span>
            <h4>Temat:</h4>
            <input type="text" class="form-control" value="{{message.title}}" disabled>
            
            <h4>Treść:</h4>
            <input type="text" class="form-control" value="{{message.content}}" disabled>
            <div class="mt-4" align="center">
                <a href="{% url 'adminSite:sendMessage' message.id %}" class=""><button class="btn btn-primary"><i
                            class="fa fa-paper-plane"></i>Odpowiedz</button></a>
            </div>
            
        </div>
    </div>

</div>
{% endblock %}