{% extends "admin/base.html" %}

{% block content %}
<div class="container responseContent">
    <h1 align="center">Rozwiązania</h1>
    <table class="table-striped table-dark">
        <thead>
            <tr>
                <th>#
                <th>Student
                <th>Grupa
                <th>Data
            </tr>
        </thead>
        <tbody>
            <tr class="col-1">
                <td>1
                <td>Artur Czopek
                <td>Grupa_10-45
                <td>20.09.2018 12:30
                <td><a href="responseDetails"><button class="btn btn-danger">Oceń</button></a>
            </tr>
            <tr>
                <td>2
                <td>Mateusz Bogackissssssss
                <td>Grupa_10-45
                <td>20.09.2018 12:30
                <td><a href="responseDetails"><button class="btn btn-danger">Oceń</button></a>
            </tr>
            <tr>
                <td>3
                <td>Pjoter Błaszczak
                <td>Grupa_10-45
                <td>20.09.2018 12:30
                <td><a href="responseDetails"><button class="btn btn-danger">Oceń</button></a>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}