{% extends "admin/base.html" %}

{% block content %}
<div class="container responseDetailsContent">
    <a href="/adminSite/responses"><i class="fa fa-arrow-circle-left fa-3x backArrow" title="Wstecz"></i></a>
    <h1 align="center">Rozwiązanie zadania</h1>
    <h3 class="font-italic" align="center">{{answer.student_firstname}} {{answer.student_lastname}}</h3>
    <h4>Treść</h4>
    <p>{{answer.task_description}}
    </p>
    <h4>Rozwiązanie</h4>
    <p>{{answer.answer}}
    </p>
    <h4>Nagroda</h4>
    <p>{{answer.max_task_points}}</p>
    <form class="" action="{% url 'adminSite:rateAnswer' %}" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label>
                <h4>Przyznaj punkty</h4>
                {% if answer.usedPrompt == 1 %}
                <span class="badge badge-pill badge-danger">Pula pukntów do zdobycia zmniejszona. Student użył podpowiedzi.</span>
                {%endif%}
                <input type="hidden" id="answer_id" name="answer_id" value="{{ answer_id }}"/>
            </label>
            <!-- <select class="form-control" id="exampleFormControlSelect1" name="excerciseScore">
                {%for point in answer.point_scale%}
                <option>{{forloop.counter}}</option>
                {%endfor%}
              </select> -->
            <input type="number" class="form-control" id="exampleFormControlSelect1" name="excerciseScore" min="0" max="{{ answer.max_points_to_gain }}" value="{{ answer.max_points_to_gain }}" style="display: block; width: 100px; padding-left: 10px"/>
            <small class="form-text text-muted">Przyznaj odpowiednią ilość punktów.</small>
        </div>
        <!-- <div class="form-group  media-body">
            <label><b>Wybierz medale</b></label><br/>
            {%for medal in medals %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="medal{{medal.id}}" name="{{medal.id}}" value="{{medal.id}}">
                <label for="medal{{medal.id}}">{{medal.name}}</label>
                <img class="ml-3 medalMini" src="/static/img/Medals/{{medal.picture}}" alt="{{medal.name}}">
            </div>
            {%endfor%}
            <small class="form-text text-muted">Zasłużył na medal?</small>
        </div> -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary mb-5">Oceń</button>
        </div>
    </form>
</div>
{% endblock %}