{% extends "admin/base.html" %}

{% block content %}
<div class="container messagesBody newMessageContainer">
    <div>
        <a class="backLink" href="{% url 'adminSite:messages' %}" title="Wstecz"><i class="fa fa-arrow-left"></i></a>
        <h1 align="center">Nowa wiadomość</h1>
    </div>
    <form action="{% url 'adminSite:messages' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% if message %}
            <label for="recipient">Odbiorca</label>
            <input type="hidden" name="recipient" value="{{message.from_user_id}}"/>
            <input type="text" class="form-control" id="recipient"  value="{{message.from_user_name}}" disabled
                    required maxlength="80">
                    <input type="hidden" name="answer_id" value="{{message.id}}"/>
            {%elif receivers %}
                <label for="recipient">Wybierz odbiorcę</label>
                <select class="form-control" id="recipient" name="recipient" required>
                    {% for receiver in receivers %}
                        <option value="{{receiver.student_id}}">{{receiver.student_name}} - {{receiver.student_index}}</option>
                    {% endfor%}
                </select>
                <input type="hidden" name="newMessage" value="newMessage"/>
            {% elif to %}
            <label for="recipient">Odbiorca</label>
            <input type="hidden" name="recipient" value="{{to.id}}"/>
            <input type="text" class="form-control" id="recipient"  value="{{to.name}}" disabled
                    required maxlength="80">
            <input type="hidden" name="newMessage" value="newMessage"/>
            {% elif group %}
                <label for="recipient">Odbiorca</label>
                <input type="hidden" name="recipient" value="{{group.id}}"/>
                <input type="text" class="form-control" id="recipient"  value="Grupa : {{group.name}}" disabled
                        required maxlength="80">
                <input type="hidden" name="groupMessage" value="groupMessage"/>
            {% else %}
                <p> Nie prowadzisz żadnej grupy !</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="messageTopic">Temat wiadomości</label>
            {% if message %}
                <input type="text" class="form-control" id="messageTopic"  value="{{message.title}}" disabled
                    required maxlength="80">
                    <input type="hidden" name="messageTopic" value="{{message.title}}"/>
            {% else %}
            <input type="text" class="form-control" name="messageTopic" id="messageTopic" placeholder="Wpisz temat wiadomości.." autofocus
                required maxlength="80">
            {%endif%}
        </div>
        <div class="form-group">
            <label for="messageContent">Treść wiadomości</label>
            
            <textarea class="form-control" id="messageContent" name="messageContent" rows="5" placeholder="Tu wpisz swoją wiadomość..."
                required maxlength="500"{% if message %} autofocus {%endif%} ></textarea>
            
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary" title="Wyślij wiadomość">Wyślij</button>
        </div>
    </form>
</div>
{% endblock %}