{% extends "admin/base.html" %}

{% block content %}
<div class="container messagesBody newMessageContainer">
    <div>
        <a class="backLink" href="{% url 'adminSite:messages' %}" title="Wstecz"><i class="fa fa-arrow-left"></i></a>
        <h1 align="center">Nowa wiadomość</h1>
    </div>
    <form>
        <div class="form-group">
            {% if message %}
            <label for="recipient">Odbiorca</label>
            <input type="text" class="form-control" id="recipient" name="recipient" value="{{message.from_user_name}}" disabled
                    required maxlength="80">
            {%elif receivers %}
                <label for="recipient">Wybierz odbiorcę</label>
                <select class="form-control" id="recipient" name="recipient" required>
                    {% for receiver in receivers %}
                        <option value="{{receiver.student_id}}">{{receiver.student_name}} - {{receiver.student_index}}</option>
                    {% endfor%}
                </select>
            {% else %}
                <p> Nie prowadzisz żadnej grupy !</p>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="messageTopic">Temat wiadomości</label>
            {% if message %}
                <input type="text" class="form-control" id="messageTopic" value="{{message.title}}" disabled
                    required maxlength="80">
            {% else %}
            <input type="text" class="form-control" id="messageTopic" placeholder="Wpisz temat wiadomości.." autofocus
                required maxlength="80">
            {%endif%}
        </div>
        <div class="form-group">
            <label for="messageContent">Treść wiadomości</label>
            
            <textarea class="form-control" id="messageContent" rows="5" placeholder="Tu wpisz swoją wiadomość..."
                required maxlength="500"{% if message %} autofocus {%endif%} ></textarea>
            
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary" title="Wyślij wiadomość">Wyślij</button>
        </div>
    </form>
</div>
{% endblock %}