{% extends "admin/base.html" %}

{% block content %}
<div class="card text-white bg-dark mb-3 studentDetails" style="max-width: 80%;margin:10px auto;">
    <div class="card-header">
        Informacje szczegółowe
    
        <a class="backButton" href="{% url 'adminSite:students' %}" title="Powrót do listy studentów"><button type="button" class="btn btn-danger text-center w-25"><i class="fa fa-arrow-left mr-2"></i>Powrót</button></a>
    </div>
    <div class="card-body">
        <table class="table table-striped table-dark table-responsive-xl">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Nazwa użytkownika</th>
                    <th>Nr indeksu</th>
                    <th>Grupa</th>
                    <th>Etap</th>
                    <th>Poziom życia</th>
                    <th>Poziom doświadczenia</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.username }}</td>
                    <td>{{ student.index_number }}</td>
                    {% if student.group != None %}
                        <td>{{student.group.name}}</td>
                    {% else %}
                        <td>Brak grupy</td>
                    {% endif %}
                    <td>{{ student.level }}</td>
                    <td>{{ student.current_hp }}</td>
                    <td>{{ student.current_exp }} / {{student.max_exp}}</td>
                    <td>{{ student.points }}</td>
                </tr>
            </tbody>
        </table>

        <!-- STAGE DETAILS -->

        {% for stage in stages %}
        <div class="card myCard">
            <div class="card-header title">
                {{stage.name}}

            </div>
            <div class="card-body">
                <div class="row myCardBody panelTitle">
                    <div class="col-sm">
                        Id odpowiedzi
                    </div>
                    <div class="col-sm">
                        Nazwa zadania
                    </div>
                    <div class="col-sm">
                        Czy ukończony
                    </div>
                    <div class="col-sm">
                        Czy oceniony
                    </div>
                </div>
                {%for answer in stage.tasks %}
                <div class="row myCardBody">
                    <div class="col-sm">
                        {{answer.answer_id}}
                    </div>
                    <div class="col-sm">
                        {{answer.title}}
                    </div>
                    <div class="col-sm">
                        {% if answer.completed == 0 %}
                        W trakcie
                        {% else %}
                        Ukończony
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        {% if answer.completed == 1 and answer.rated == 1%}
                        <a href="{% url 'adminSite:responseDetails' answer.answer_id %}" class="badge badge-success">Oceniony</a>
                        {% elif answer.completed == 1 and answer.rated == 0 %}
                        <a href="{% url 'adminSite:responseDetails' answer.answer_id %}" class="badge badge-warning">Do
                            oceny</a>
                        {% else %}
                        <p class="badge badge-secondary">Nie można ocenić</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
        {% endfor%}
    </div>

</div>
{% endblock %}