{% extends "admin/base.html" %}

{% block content %}
<div class="container studentsContainer">
    {% if students.count > 0 %}
        <div>
            <h1 class="py-2" align="center">Lista studentów</h1>
            <a href="{% url 'adminSite:addStudent' %}" class="addStudentButton"><button class="btn btn-primary"><i class="fa fa-plus pr-2"></i>Dodaj studenta</button></a>
        </div>
        <table class="table table-striped table-dark mt-3">
            <thead>
                <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Nazwa użytkownika</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th>Adres email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{student.username}}</td>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email}}</td>
                        <td><a href="{% url 'adminSite:editStudent' student.id %}" class="badge badge-primary studentListButton">Detale</a></td>
                        <td><a href="{% url 'adminSite:deleteStudent' student.id %}" class="badge badge-danger studentListButton">Usuń</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert"> Brak studentów </div>
    {% endif %}
</div>
{% endblock %}