{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>MY SITE</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'login/css/bootstrap-reboot.min.css' %}" />
    <link rel="stylesheet" href="{% static 'login/css/bootstrap-grid.min.css' %}" />
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/changePassword.css' %}" />

</head>

<body>
    <section class="mainPanel">
        <form method="post">
            <p for="oldPassword" class="formLabel">Stare Hasło</p>
            <input type="password" id="oldPassword" name="oldPassword" class="textbox">
            <p for="newPassword" class="formLabel">Nowe Hasło</p>
            <input type="password" id="newPassword" name="newPassword" class="textbox">
            <p for="confirmPassword" class="formLabel">Potwierdź Hasło</p>
            <input type="password" id="confirmPassword" name="confirmPassword" class="textbox">
            
            <div id="lower" class="bottom">
                <input type="submit" value="Wyślij" class="button">
            </div>
        </form>
    </section>

</body>

</html>