<!DOCTYPE html>
<html>

<head>
    <title>MY SITE</title>

    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/register.css' %}" />

</head>

<body>
    <section>
        <div class="container py-md-5" align="center">
            <form method="post">
                <p for="username" class="formLabel"> Login </p>
                <input type="text" id="username" name="username" placeholder="Wprowadź login" required="true" class="textbox">

                <p for="password" class="formLabel"> Hasło </p>
                <input type="password" data-minlength="6" id="password" name="password" placeholder="Wprowadź hasło" required="true" class="textbox" >
                
                <p for="repeatPassword" class="formLabel"> Powtórz Hasło </p>
                <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Powtórz hasło" required="true" data-match="#password" data-match-error="Whoops, these don't match" class="textbox">
                
                <p for="email" class="formLabel"> Email </p>
                <input type="email" id="email" name="email" aria-describedby="emailHelp" placeholder="name@example.com" required="true" class="textbox">

                <p for="name" class="formLabel"> Imię </p>
                <input type="text" id="name" name="name" placeholder="Wprowadź imię" required="true" class="textbox">

                <p for="surname" class="formLabel"> Nazwisko </p>
                <input type="text" id="surname" name="surname" placeholder="Wprowadź nazwisko" required="true" class="textbox">

                <small text-align="left">Masz już konto? <a href="/" class="alert-link">Zaloguj się</a></small>

                <div id="lower">
                    <input type="submit" value="Wyślij" formtarget="main" class="button">
                </div>
            </form>
        </div>
    </section>

</body>

</html>