body {
    background-color: #3b3b3b;
    background-image: url("../img/bg_login2.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.loginPanel{
    display: inline-block;
    width: 200px;
    height: 180px;
    position: fixed;
    top: 80;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.formLabel{
    color: aqua;
}

.alt {
    display: block;
    border: 1px solid red;
}