body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background: rgb(213, 213, 213);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    width:200px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
    padding-top: 80px;
}
.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
    margin-bottom: 50px;
}
.main_sidebar ul {
    list-style:none;
    padding-left:58px;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}
.logo{
    position: absolute;
    top: 5px;
    color: #fff;
    padding-left: 5px;
    font-size: 25px;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    white-space: normal;
}
.logo-icon:hover{
    color: none;
}
.main_sidebar ul li:hover {
    background:#167696;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active i {
    color:#fff;
}

.main_sidebar ul li.active:hover {
    background:#167696;
}
.main_sidebar ul li.active:hover i {
    color:#fff;
}

.main {
    float:right;
    color:#fff;
    display:block;
    width:100%;
    background:red;
    min-height:100vh;
}
.mainPlace{
    margin-left: 200px;
}
.custom-file{
    margin-bottom: 10px;
}
.custom-file-input{
    opacity: 1 !important;
}
.users{
    color: #fff !important;
    cursor: pointer;
}
.usersMenu{
    z-index: -1;
    display: none;
    position: absolute;
    left: 100%;
    top: 121px;
    -webkit-animation-name: userMenuAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: userMenuAnimation;
    animation-duration: 0.3s;
}
@-webkit-keyframes userMenuAnimation {
    from {left: 20%; opacity: 0}
    to {left: 100%; opacity: 1}
}
@keyframes userMenuAnimation {
from {left: 20%; opacity: 0}
to {left: 100%; opacity: 1}
}
.usersMenu a{
    z-index: -1;
    padding: 10px 20px;
    background-color: #253238;
    cursor: pointer;
}
.usersMenu a:first-child{
    border-top-right-radius: 10px;
}
.usersMenu a:last-child{
    border-bottom-right-radius: 10px;
}
.usersMenu a:hover{
    background-color: #167696;
}
@media screen and (min-width: 1600px){
    .container{
        max-width: 1540px;
    }
    .label{
        font-size: 2rem;
    }
}