.messagesBody{
    margin-top: 1%;
    padding-bottom: 60px;
    width: auto;
    background-color: rgb(179, 177, 177);
    border-radius: 25px;
}
.messagesBody h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.messagesBody table tbody{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2rem;
}
.messagesBody tbody tr td:last-child{
    text-indent: 1%;
    padding-right: 15px;
    padding-left: 15px;
}
.newMessage {
    border-color: red;
    color: darkred;
}
@media screen and (max-width: 768px){
    .messagesBody{
        margin: 20px 5px 0 5px;
    }
}
