.responseContent{
    padding: 1% 5% ;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(179, 177, 177);
    border-radius: 25px;
}
.responseContent h1{
    align: center;
    margin-bottom: 15px;
}
.responseContent .form-control{
    margin-bottom: 0 !important;
}
.redirectClick{
    text-decoration: none;
    color: white;
}
.redirectClick:hover{
    color: rgb(206, 206, 206);
}
.responseContent table{
    width: 100%;
    text-align: center
}
.responseContent table td button{
    width: 90px;
    padding: 1%;
    margin: 1%;
}

/* ResponseDetails */
.responseDetailsContent{
    padding-left: 10%;
    padding-right: 10%;
}
.responseDetailsContent h1{
    margin-bottom: 40px;
}
.responseDetailsContent p {
    background-color: rgba(153, 152, 152, 0.199);
    padding: 4px 8px;
    border-radius: 10px;
}
.responseDetailsContent button{
    width: 25%;
}